// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  display: flex;
  justify-content: space-around;
}

.article-container {
  max-width: 700px;
}

.text-center {
  text-align: center;
}

h3 {
  a {
    font-size: 33px;
    font-family: 'Roboto Slab';
    color: #23527c;
    opacity: 0.8;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
}

p {
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 16px;
  color: #333333;
}

ul {
  list-style: none;
}
